# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log
*.pot
*.pyc

# Virtual env
env/
venv/
ENV/

# SQLite
db.sqlite3
*.sqlite3

# Media uploads
/media/
/media
/media/*
/media/**/*

# IDEs
.vscode/
.idea/

.DS_Store
*.egg-info
/staticfiles/
